.git
.gitignore
.dockerignore

data/
data-test/
data-bolt-test/
*.log
*.exe
*.tar
*.tar.gz
*.zip
/source-build/
/image-deploy/
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
*.bbolt

config/config.json
Dockerfile
docker-compose.yml
README.md
